html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a[rel=lightbox] {
  border-bottom: none !important;
}

@font-face {
  font-family:'Open Sans';
  font-style:normal;
  font-weight:400;
  src:local('Open Sans'),local('OpenSans'),url(https://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  font-family:'Open Sans';
  font-style:normal;
  font-weight:600;
  src:local('Open Sans Semibold'),local('OpenSans-Semibold'),url(https://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

body {
  font-family: 'Open Sans';
}

table, table.reset {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
}

table td, table th, table.reset td, table.reset th {
  padding: 0;
  margin: 0;
  vertical-align: top;
  border: 0;
}

table.pad td, table.pad th, table.reset.pad td, table.reset.pad th {
  padding: 4px !important;
}

table tr, table.reset tr {
  border: 0;
}

table td strong {
  font-weight: bold;
}

table.reset td {
  padding: 0px !important;
}

table.reset tr {
  border: 0px !important;
}

table.reset tr:nth-child(2n) {
  background-color: inherit !important;
}

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}


table.grid {
  color: #252626;
  background-color: #FFF;
}

table.grid thead tr {
  border-top: 1px solid rgb(218, 222, 229);
  background-color: #666 !important;
  color: #FFF;
}

table.grid thead tr td {
  padding: 5px;
}

table.grid td {
  font-size: 16px;
}

table.grid.nohead tr:first-child
{
  border-top: 1px solid rgb(218, 222, 229);
  background-color: #666 !important;
  color: #FFF;
}

table.grid tr {
  border-bottom: 1px solid rgb(218, 222, 229);
  border-right: 1px solid rgb(218, 222, 229);
  border-left: 1px solid rgb(218, 222, 229);
  background-color: rgb(252,252,250);
}

table.grid td, table.grid th {
  padding: 2px 5px 2px 5px;
  text-align: left;
}

table.grid tbody tr td {
  padding: 10px;
}

table.grid th {
  font-weight: 600;
  padding: 10px;
}

table.grid th a, table.grid th a:link, table.grid th a:visited {
  color: #FFF;
  text-decoration: none;
  border-bottom: none;
}

table.grid tr:nth-child(2n) {
  background-color: #F0F0F4;
}

table.grid tr.selected {
  background-color: #FFFFBE;
}


table.grid.table-nav td {
  font-size: 16px;
  padding: 10px;
}

table.grid.table-nav tr {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

table.grid.table-nav tr:hover {
  background: #FFFFAA !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFF6D), to(#FFFFAA)) !important;
  background: -moz-linear-gradient(top,  #FFFF6D,  #FFFFAA) !important;
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF6D', endColorstr='#FFFFAA') !important;
}

table.grid.table-nav a {
  border: 0 !important;
  text-decoration: none;
}

table.grid td.control
{
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
}

table.grid.midalign td {
  vertical-align: middle !important;
}

table.grid tbody tr:first-child {
  border-top: 1px solid rgb(218, 222, 229);
}

table.grid thead+tbody tr:first-child {
  border-top: none !important;
}
